<div class="card">
  <div class="card-header"><i class="fas fa-exclamation-triangle"></i> {{ text_list }}</div>
  <div class="card-body">
    <form></form>
    <textarea wrap="off" rows="15" readonly class="form-control">{{ log }}</textarea>
  </div>
</div>