<div class="card">
  <div class="card-header"><i class="fas fa-exclamation-triangle"></i> {{ heading_title }}</div>
  <div class="card-body">
    <p class="text-center">{{ text_permission }}</p>
  </div>
</div>