<div id="common-success" class="container">
  <h1>{{ heading_title }}</h1>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      {{ text_message }}
    </div>
  </div>
  <div class="buttons">
    <div class="float-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
  </div>
</div>