<div class="delivery-block step-wrap__form">
  <div class="h3">{{ text_additionally }}</div>
  <div class="callback-input">
    <div>{{ text_comment }}</div>
    <textarea name="additionally[comment]" cols="30" rows="5">{{ additionally }}</textarea>
  </div>
</div>