<form action="{{ action }}">
	<div class="input-group">
		<a href="javascript:void(0);" class="js_search visible-sm"></a>
		<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control">
		<div class="input-group-append">
			<button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search">Search</i></button>
		</div>
	</div>
</form>