<div class="form-group row custom-field">
  <label class="col-sm-2 col-form-label" for="input-text-cols">{{ entry_cols }}</label>
  <div class="col-sm-10">
    <div class="input-group">
      <input type="text" name="setting[cols]" value="{{ values.cols ?: 2 }}" placeholder="{{ entry_cols }}" id="input-text-cols" class="form-control"/>
    </div>
  </div>
</div>